nav {
    margin-top: 40px;
  }
  
  ol {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0%;
  }
  
  li {
    margin: auto;
    font-size: smaller;
    font-weight: normal;
  }
  
  li:hover {
    text-decoration: underline;
    font-weight: bolder;
  }
  
  h1 {
    justify-content: center;
    text-align: center;
    margin: 0%;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  .bar {
    visibility: hidden;
    cursor: pointer;
  }
  
  .logo {
    display: none;
  }
  
  /* ===== Responsive fix (minimal change) ===== */
  
  @media (max-width: 1100px) {
    nav {
      margin-top: 10px;
      display: flex;
    }
  
    .links {
      display: none; /* key fix */
      flex-direction: column;
      justify-content: space-evenly;
      height: 100vh;
      width: 100%;
      position: absolute;
      right: 0;
      top: 40px;
      background: linear-gradient(
        to bottom,
        rgba(25, 45, 76, 1),
        rgba(0, 1, 1, 1)
      );
    }
  
    .links.open {
      display: flex;
    }
  
    li {
      justify-content: center;
      text-align: center;
      padding: 10px;
    }
  
    li:nth-child(5) {
      display: none;
    }
  
    .picha {
      display: none;
    }
  
    .bar {
      display: inline-block;
      font-size: 1.5rem;
      visibility: visible;
      position: absolute;
      right: 50px;
      top: 30px;
    }
  
    .logo {
      display: inline-block;
      margin-left: 50px;
      top: 10px;
    }
  }
  